In [1]:
# importing required library

In [45]:
from bs4 import BeautifulSoup
from csv import writer
import requests

In [4]:
# accessing website

In [11]:
url  = 'https://www.pararius.com/apartments/amsterdam'
page = requests.get(url)
print(page)

<Response [200]>

In [7]:
# 200 (HTTP response status codes)

In [12]:
soup = BeautifulSoup(page.content, 'html.parser')

In [10]:
#print(soup)

In [17]:
#for css class ('class_')
lists = soup.find_all('section', {'class': 'listing-search-item listing-search-item--list listing-search-item--for-rent'})

In [18]:
len(lists)

30

In [16]:
#lists

In [75]:
info = []
for a in lists:
    title = a.find('a',class_ = 'listing-search-item__link--title').text.replace('\n','')
    info.append(title)
    
print(info)

['Apartment Gloriantstraat', 'Apartment NDSM-kade', 'Apartment NDSM-kade', 'Apartment NDSM-kade', 'Apartment NDSM-kade', 'Apartment Michelangelostraat 37 hs', 'Apartment Jan Luijkenstraat', 'Apartment Bernard Shawsingel', 'House Jachthavenweg', 'Apartment Tussen Meer', 'Apartment Van Leijenberghlaan 179', 'Apartment Tweede Jan van der Heijdenstraat', 'House Walborg 10', 'Apartment Van Leijenberghlaan 163', 'Apartment Oostelijke Handelskade', 'Apartment De Klencke 105 B', 'Apartment Warmoesstraat 12 C', 'Apartment Elisabeth Wolffstraat', 'Apartment Baden Powellweg 44 A', 'Apartment Bilderdijkstraat 5 III+IV', 'Apartment Prinsengracht', 'Apartment Insulindeweg', 'Apartment Warmoesstraat', 'Apartment Boeninlaan', 'Apartment Wenslauerstraat 5', 'Apartment H. Cleyndertweg', 'Apartment Bezaanjachtplein', 'Apartment Leliegracht 49 4', 'Apartment Oosterdokskade', 'Apartment Van Eeghenstraat 151 1']

In [76]:
info_1 = []
for i in lists:
    location = a.find('div',class_ = 'listing-search-item__location').text.replace('\n','')
    info_1.append(location)

In [77]:
info_2 = []
for j in lists:
    price = a.find('div',class_ = 'listing-search-item__price').text.replace('\n','')
    info_2.append(price)

In [78]:
info_3 = []
for k in lists:
    area = a.find('li',class_ = 'illustrated-features__item illustrated-features__item--surface-area').text.replace('\n','')
    info_3.append(area)

In [79]:
result = {
    'Title' :info,
    'Location': info_1,
    'Price': info_2,
    "Area" : info_3
}

In [80]:
df = pd.DataFrame(result)

In [81]:
df

,Title,Location,Price,Area
0,Apartment Gloriantstraat,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
1,Apartment NDSM-kade,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
2,Apartment NDSM-kade,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
3,Apartment NDSM-kade,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
4,Apartment NDSM-kade,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
5,Apartment Michelangelostraat 37 hs,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
6,Apartment Jan Luijkenstraat,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
7,Apartment Bernard Shawsingel,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
8,House Jachthavenweg,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
9,Apartment Tussen Meer,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
10,Apartment Van Leijenberghlaan 179,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
11,Apartment Tweede Jan van der Heijdenstraat,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
12,House Walborg 10,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
13,Apartment Van Leijenberghlaan 163,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
14,Apartment Oostelijke Handelskade,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
15,Apartment De Klencke 105 B,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
16,Apartment Warmoesstraat 12 C,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
17,Apartment Elisabeth Wolffstraat,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
18,Apartment Baden Powellweg 44 A,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
19,Apartment Bilderdijkstraat 5 III+IV,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
20,Apartment Prinsengracht,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
21,Apartment Insulindeweg,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
22,Apartment Warmoesstraat,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
23,Apartment Boeninlaan,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
24,Apartment Wenslauerstraat 5,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
25,Apartment H. Cleyndertweg,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
26,Apartment Bezaanjachtplein,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
27,Apartment Leliegracht 49 4,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
28,Apartment Oosterdokskade,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²
29,Apartment Van Eeghenstraat 151 1,1071 GB Amsterdam (Museumkwartier)...,"€3,150 per month",120 m²

In [82]:
df.to_csv('Result.csv')